.About{
    .content{
        margin: 40px 0;
        display: flex;
        align-items: start;
        // justify-content: space-between;
        gap: 100px;
        // border: 2px solid red;
        .about{
            margin: 0 30px;
            img{
                width: 500px;
                height: 260px;
                }
              
            h1 {
                width:400px;
                font-size: 42px;
                font-weight: 570;
                margin: 60px 0;
            }
            p{
                width: 480px;
                font-size: 17.98px;
                font-weight: 200;
                line-height: 35px;
                margin: 60px 0;
            }
        }
    }
    .sign{
        margin: 40px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        left: 400px;
        .ligh {
           margin: 20px 0;
           width: 272px;
           height: 272px;
        //    border: 2px solid red;
           padding: 30px;
           border-radius: 8px;
           box-shadow: 5px 8px 8px 8px rgb(224, 223, 223);

           h3{
            width: 150px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            margin: 20px 0;
        }
            p{
                width: 230px;
                font-size: 16px;
                height: 57px;
                font-weight: 300;
                line-height: 19px;
           }
        }
    }
}


@media (max-width:480px){
    .About{
        .content{
            display: flex;
            flex-direction: column;
            width: 560px;
            align-items: center;
            padding:0 30px;
            .about{
                margin-right: 50px;
            }
            .sign{
                margin-top: 0;
                display: flex;
                .ligh{
                    
                    width: 100%;
                }
            }
        }
    }
}